body{
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: auto;
	color: #000;
	font-size: 18px;
	width: 1240px;
	height: 1753px;
}
div, p, input, header, a, form {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ol, ul {
	padding-left: 15px;
}
li {
	margin-left: 0;
}
section {
	width: 1200px;
	margin: auto;
	padding: 30px;
	border-bottom: 2px dashed #d6d6d6;
}
section.body {
	padding-bottom: 0;
	border-bottom: none;
}
.image img {
	width: 100%;
}
.Sertificate__block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 18px;
	background: #DFF1FD;
	padding: 20px 50px;
}
.Sertificate__left {
	width: 50%;
}
.Sertificate__right {
	margin-left: auto;
	width: 30%;
}
.Sertificate__left p {
	width: 70%;
	line-height: 1.6em;
}
h1 {
	font-size: 44px;
	line-height: 2em;
}
h1 span {
	font-size: 40px;
}
h2 {
	font-size: 24px;
}
.Sertificate__if {
	display: flex;
}
.Sertificate__if span{
	background: #ff5e00;
	width: 130px;
	font-size: 26px;
	text-align: center;
	border-radius: 50px;
	margin-right: 10px;
	color: #fff;
	padding: 2px 5px
}
.Sertificate__if span:last-child {
	margin-right: 0;
}
.Sertificate__number p,
.Sertificate__data p {
	font-size: 14px;
}
.Sertificate__number span,
.Sertificate__data span {
	background: #fff;
	font-size: 24px;
	padding: 5px 0;
	width: 160px;
	display: block;
	text-align: center;
	padding: 6px 0px;
}
.Sertificate__number  {
	margin-top: 30px;
}
.Sertificate__data {
	margin-top: 60px;
}
.Sertificate__term {
	font-size: 14px;
	color: #777;
	width: 75%;
}
.Sertificate__term span {
	color: #f00;
}
.Passport {
	border-radius: 15px;
	margin-top: 30px;
	padding: 5px 50px;
	color: #ff5e00;
	line-height: 2em;
	border: 2px solid #ff8935;
}
.body {
	display: flex;
}
.body__left {
	width: 70%;
	border-right: 1px solid #888;
	padding-bottom: 20px;
}
.body__right {
	width: 30%;
}
.body__inscruction {
	padding-left: 30px;
	margin-bottom: 50px;
}
.body__inscruction li {
	margin-bottom: 10px;
}
.body__tell p {
	font-size: 34px;
	margin: 0;
	padding: 0 0 20px 60px;
}
.body__secure {
	background: #F4EBE4;
	margin-right: 30px;
	padding: 30px;
	border-radius: 15px;
}
.body__secure li {
	list-style: none;
	position: relative;
	margin-bottom: 10px;
}
.body__secure li:before {
	content: "-";
	position: absolute;
	font-size: 30px;
	left: -15px;
	top: 50%;
	line-height: 0;
}
.body__contacts {
	margin-top: 140px;
}
.body__contacts_b,
 .body__contacts_inst{
	display: flex;
	align-items: center;
	padding-left: 60px;
	font-size: 30px;
	color: #138ade;
}
.body__contacts_b img,
 .body__contacts_inst img {
 	padding-right: 10px;
 }
 .body__rules {
 	padding-left: 60px;
 	font-size: 12px;
 	margin-top: 100px;
 	color: #888;
}
 .body__rules span {
 	color: #f00;
 	font-size: 20px;
 }
footer {
	padding-bottom: 30px;
	padding-left: 30px;
	color: #888;
	font-size: 16px;
}